<div class="container">
  <div class="text-center">
    <h1>The World Best Cocktails !</h1>
    <% @cocktails.each do |cocktail| %>
      <div>
        <%= link_to cocktail.name.capitalize, cocktail %>
        <%= link_to edit_cocktail_path(cocktail) do %>
          <i class="fa fa-pencil" ></i>
        <% end %>
        <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure ?'} do %>
          <i class="fa fa-trash-o" ></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
